body {
    background-color: #E5E5E5;
}

.calender-wrapper {
    padding: 6px 12px;
    border: 1px solid #26B7BC;
    border-radius: 4px;
    background-color: #fff;
}

.calendar-icon {
    width: 15px;
    margin-right: 15px;
}

.calendar-text {
    color: #747474;
}

.all-btn {
    color: #747474;
    min-width: 130px;
    padding: 6px 14px !important;
    border: 1px solid #26B7BC;
    background-color: #fff;
}


.all-btn:focus, .all-btn:focus-visible {
    border: 1px solid #26B7BC;
    outline: 1px solid #26B7BC;
    box-shadow: none;
}

#offcanvasRightLabel {
    border: 1px solid #26B7BC;
}

#offcanvasRightLabel:focus, #offcanvasRightLabel:focus-visible {
    border: 1px solid #26B7BC;
    outline: 1px solid #26B7BC;
    box-shadow: none;
}

.list-group-item {
    border: none !important;
}

.all-buyer-card {
    padding: 11px 29px;
    background: #F5F5F5;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
}

.all-buyer-card .text {
    display: flex;
    color: #747474;
}

.all-buyer-card .text span {
    color: #000;
    margin-right: 7px;
}

.all-buyer-card .number {
    color: #C0C0C0;
}

.form-check-input:checked {
    background-color: #26B7BC !important;
    border-width: 1px;
    border-color: #747474 !important;
}

.icon-search {
    top: 50%;
    right: 25px;
}

#mm {
    padding: 30px 56px;
}

#mm .col {
    position: relative;
}

#mm .col:not(#mm .col:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #26B7BC;
}

#mm .text {
    font-size: 18px;
    line-height: 35px;
    color: #747474;
    font-weight: lighter;
}

#mm .number {
    font-size: 34px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
}

tbody tr {
    border: none !important;
}

tbody tr td {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}